.btn{
    border-radius: 0.3125rem;
    // width: 120px;
    display: block;
    padding: 0.625rem 0.9375rem;
    border:none;
    // height: 44px;
    text-align: center;
    // line-height: 44px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.8125rem;
    font-weight:500;
    color:white
}