.btn{
    border-radius: 5px;
    // width: 120px;
    display: block;
    padding: 10px 15px;
    border:none;
    // height: 44px;
    text-align: center;
    // line-height: 44px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight:500;
    color:white
}