.delivery{
    background-image: url('../image/backgrounds/order-background.png');
}
.delivery__title{
    color:$orange_head;
    margin-bottom: 2.75rem;
}
.delivery__form{
    color:white;
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
    font-weight: 300;
}
.delivery__data{
    display: flex;
    flex-direction: column;
}
.delivery__input{
    border:none;
    height: 2.1875rem;
    border-radius:0.3125rem;
    border: 1px solid #d1cfcb;
    &--222px{
        width: 13.875rem;
    }
    &--460px{
        width: 28.75rem;
    }
    &--100px{
        width: 6.25rem;
    }
    &:active,&:hover{
        border: 0.125rem solid #f9b43b;
        transition: 0.4s;
    }
 
}
.delivery__data_label{
    display: flex;
    flex-direction: column;
}
.delivery__data_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
    &:last-child{
        margin-bottom: 0;
    }
}
.delivery__text{
    width: 28.75rem;
    height: 6.875rem;
    border: 0.0625rem solid #d1cfcb;
    border-radius:0.3125rem;
}
.delivery__data_elem{
    margin-bottom: 1.8125rem;
    label{
        padding-left: 1.5625rem;

    }
}
.delivery__data_button{
    display: flex;
    flex-direction: row;
}
.delivery__order{
    background: $orange_button;
}
.delivery__reset{
    background: transparent;
    border:none;
    text-transform: capitalize;
}
.delivery__text{
    margin-bottom: 1.25rem;
    resize: none;
}
.delivery__field{
    margin-bottom: 0.5625rem;
}
.delivery__visually-hidden{
    display: none;
}
.delivery__change{
    margin-right: 1.25rem;
}
.delivery__radio-label{
    position: relative;
    &:before{
        content:'';
        width: 0.9375rem;
        height: 0.9375rem;
        border-radius: 50%;
        background: white;
        position: absolute;
        left: 0%;
    }
}
.delivery__radio{
    &:checked + .delivery__radio-label{
        &:after{
            content: '';
            width: 0.4375rem;
            height: 0.4375rem;
            border-radius: 50%;
            background-color: #e35028;
            position: absolute;
            left: 3%;
            top: 26%;
        }
    }
}
.delivery__checkbox-label{
    position: relative;
    &:before{
        content:'';
        width: 0.9375rem;
        height: 0.9375rem;
        background: white;
        position: absolute;
        left: 0%;
    }
}
.delivery__checkbox{
    &:checked + .delivery__checkbox-label{
        &:after{
            content: '';
            width: 0.75rem;
            height: 0.625rem;
            background:url('../icons/checked.png') no-repeat;
            position: absolute;
            // left: 3%;
            // top: 26%;
            top:20%;
            left:1%;
        }
    }
}