.change__list{
    position: fixed;
    z-index: 1000;
    top: 7.6875rem;
    right: 3.625rem;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.change__item{
    margin-bottom: 1.3125rem;
}
.change__link{
    position: relative;
    &:after{
        content:'';
        width:0.375rem;
        height: 0.375rem;
        background: white;
        border-radius: 50%;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    &-active{
        &:before{
            content:'';
            width:1.0625rem;
            height: 1.0625rem;
            border:0.125rem solid white;
            border-radius: 50%;
            position: absolute;
            // left:-0.4375rem;
            // top:-0.375rem;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            transition: 0.4s;
        }
    }
}

