@font-face {
    font-family: 'lifehack';
    src:local(Lifehack), 
    url('../fonts/lifehack/lifehack_medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gagalin';
    src:local(gagalin), 
    url('../fonts/Gagalin/gagalin-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  
}
// @font-face {
//     font-family: 'Lifehack';
//     src: url('fonts/lifehack/lifehack_medium-webfont.woff2') format('woff2'),
//          url('lifehack_medium-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// headet footer map slider fixednav 
// }