.section-title{
    font-family: 'gagalin',sans-serif;
    font-size:72px;
    text-transform: uppercase; 
    &--centered{
        text-align: center;
    }
}
// .section-title--centered{
//     text-align: center;
// }