.section-title{
    font-family: 'gagalin',sans-serif;
    font-size:4.5rem;
    text-transform: uppercase; 
    &--centered{
        text-align: center;
    }
    @include phones{
        font-size: 3.5rem;
    }
}
// .section-title--centered{
//     text-align: center;
// }