.header{
    display: flex;
    color:white;
    justify-content: space-between;
    align-items:center;
    padding-top:6px;
   
}
.header__buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}
.header__order-btn{
    background-color:$orange_button;
    margin-left: 15px;
}
.menu__list{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu__item{
    margin-right: 16px;
    display: flex;
    align-items: center;
    &:last-child{
        margin-right: 0;
        &:after{
            display: none;
        }
    }
    &:after{
        content:'';
        width: 4px;
        height: 4px;
        background: #fff;
        border-radius: 50%;
        margin-left: 15px;

    }
}
.menu__link{
    font-size: 13px;
    color:white;
    text-transform: uppercase;
    text-decoration: none;
}
.logo{
    background:url('icons/logo.svg') center center no-repeat ;
    width:100px;
    height:80px;
    //transform: scale(1.1);
}
// .btn{
    //     @extend %button;
    // }


    // .navigation-list{
    //     display: flex;
    //     justify-content: around;
    //     background: green;
    //     /* width: 884px; */
    //     margin-left: 59px;
    //     justify-content: space-around;
    //     .navigation__item{
    //         color: #ffffff;
    //         font-family: 'Ubuntu';
    //         font-size: 18px;
    //         font-weight: 500;
    //         text-transform: uppercase;
    //         margin-right: 45px;
    //         &:last-child{
    //             margin-right: 0;
    //         }
    //         &:first-child{
    //             list-style: none;
    //         }
    //     }
    // }