@font-face {
    font-family: 'lifehack';
    src:local(Lifehack), 
    url('fonts/lifehack_medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gagalin';
    src:local(gagalin), 
    url('fonts/gagalin-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
