@font-face {
  font-family: 'lifehack';
  src: local(Lifehack), url("../fonts/lifehack/lifehack_medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gagalin';
  src: local(gagalin), url("../fonts/Gagalin/gagalin-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body, html {
  height: 100%; }

.section {
  height: 100vh;
  min-height: 650px;
  background-size: cover; }

.container {
  width: 1100px;
  padding: 0 80px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%; }

.wrapper {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden; }

ul {
  padding: 0;
  margin: 0; }
  ul > li {
    list-style: none; }

footer {
  position: relative;
  width: 100%; }

.welcome {
  background: url("../backgrounds/welcome-background.png") center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  color: white;
  position: relative; }

.welcome__content {
  display: flex; }

.welcome__content-image {
  padding: 0 15px; }

.welcome__content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px; }

.welcome__content-caption {
  color: #f9b43b;
  line-height: 2; }

.welcome__content-desc {
  font-family: 'lifehack',sans-serif;
  font-size: 65px;
  line-height: 1;
  text-transform: lowercase; }

.scroll-down-arrow {
  display: block;
  position: absolute;
  bottom: 5%;
  transform: translate(-50%);
  left: 50%; }

.reviews {
  height: 100vh;
  background: grey; }

.reviews__list {
  display: flex;
  flex-wrap: wrap; }

.reviews__item {
  list-style: none;
  width: 25%;
  height: 50vh; }
  .reviews__item:nth-child(2) .reviews__avatar {
    background-position: 80%; }

.reviews__avatar {
  filter: grayscale(1);
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: cover; }

.reviews__content {
  filter: grayscale(0);
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 50px;
  opacity: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  color: white; }
  .reviews__content:hover {
    opacity: 1; }

.reviews__text {
  font-family: 'Ubuntu',sans-serif;
  font-weight: lighter;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 30px; }

.reviews__name {
  font-family: 'Gagalin',sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 30px; }

.reviews__more-link {
  background-color: #2f3234;
  width: 110px; }

.we-best {
  background: url("../backgrounds/best-background.png") center center/cover no-repeat; }

.we-best__list {
  display: flex;
  list-style: none; }

.we-best__item {
  flex: 1;
  margin-right: 10px; }
  .we-best__item:last-child {
    margin-right: 0; }

.we-best-container {
  justify-content: center; }

.advantages__img {
  margin-bottom: 40px;
  display: flex;
  justify-content: center; }

.advantages__desc {
  text-align: center; }
  .advantages__desc h2 {
    font-family: 'lifehack', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px; }
  .advantages__desc p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5; }

.we-best__title {
  color: black;
  margin-bottom: 100px; }

.change__list {
  position: fixed;
  z-index: 1000;
  top: 123px;
  right: 58px;
  list-style: none;
  display: flex;
  flex-direction: column; }

.change__item {
  margin-bottom: 21px; }

.change__link {
  position: relative; }
  .change__link:after {
    content: '';
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .change__link:hover:before {
    content: '';
    width: 17px;
    height: 17px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s; }

.header {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px; }

.header__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.header__order-btn {
  background-color: #e45028;
  margin-left: 15px; }

.nav__list {
  display: flex;
  align-items: center;
  list-style: none; }

.nav__item {
  margin-right: 16px;
  display: flex;
  align-items: center; }
  .nav__item:last-child {
    margin-right: 0; }
    .nav__item:last-child:after {
      display: none; }
  .nav__item:after {
    content: '';
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    margin-left: 15px; }

.nav__link {
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  text-decoration: none; }

.btn {
  border-radius: 5px;
  display: block;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  color: white; }

.section-title {
  font-family: 'gagalin',sans-serif;
  font-size: 72px;
  text-transform: uppercase; }
  .section-title--centered {
    text-align: center; }

.menu {
  display: flex;
  background: url("../backgrounds/menu-background.png") center center no-repeat;
  background-size: cover;
  position: relative;
  justify-content: flex-end; }

.menu__header {
  position: absolute;
  left: 10%;
  top: 30%;
  color: white; }

.menu__nav {
  list-style: none;
  display: flex; }

.assortment:nth-child(1) .assortment__item {
  background: url("../image/menu-list-1.png");
  background-size: cover;
  width: 80px;
  height: 100%; }

.assortment:nth-child(2) .assortment__item {
  background: url("../image/menu-list-2.png");
  background-size: cover;
  width: 80px;
  height: 100%; }

.assortment:nth-child(3) .assortment__item {
  background: url("../image/menu-list-3.png");
  background-size: cover;
  width: 80px;
  height: 100%; }

.assortment {
  display: flex;
  align-items: center;
  cursor: pointer; }

.assortment:hover .assortment__submenu {
  animation: submenu_width 2s;
  animation-fill-mode: forwards; }

@keyframes submenu_width {
  0% {
    width: 0; }
  100% {
    width: 540px; } }
.assortment__submenu {
  width: 0px;
  overflow: hidden;
  background-color: rgba(47, 50, 52, 0.93);
  color: white;
  height: 100%; }
  .assortment__submenu-text {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Ubuntu' ,serif;
    padding: 0 30px; }

.team {
  background-image: url("../backgrounds/team-background.png"); }

.team__content {
  position: absolute;
  left: 50%;
  width: 50vw;
  height: 100%;
  background-color: rgba(47, 50, 52, 0.93);
  padding-left: 95px; }

.team__title {
  color: #f9b43b;
  margin-bottom: 55px; }

.team__item {
  margin-bottom: 35px; }
  .team__item:last-child {
    margin-bottom: 0; }

.personal__name {
  font-size: 14px;
  font-family: 'gagalin', sans-serif;
  color: white;
  position: relative;
  cursor: pointer;
  padding-bottom: 15px; }
  .personal__name:before {
    content: '';
    width: 7px;
    height: 7px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 5px; }

.personal__submenu {
  height: 0;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  font-size: 14px;
  color: white;
  font-family: 'Ubuntu', sans-serif; }
  .personal__submenu .personal__position {
    font-weight: 700;
    padding-bottom: 25px; }
  .personal__submenu .personal__desc {
    font-weight: 300; }

@keyframes submenu_height {
  100% {
    height: 100px; } }
.personal__name:hover + .personal__submenu {
  height: 100px;
  transition: 1s; }

.personal__avatar {
  margin-right: 20px; }

.personal__img {
  border-radius: 50%;
  width: 100px;
  height: 100px; }

.personal__text {
  width: 208px;
  line-height: 24px; }

/*# sourceMappingURL=style.css.map */
